<!DOCTYPE html>
<html lang="zxx">

{% load static %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="description" content="Bondarevafitnessdoctor">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bondarevafitnessdoctor</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body style="background-color: #787878">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section set-bg" data-setbg="{% static 'img/header-bg.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 offset-lg-1">
                    <div class="main-menu">
<!--                        <div class="logo">-->
<!--                            <a href="{% url 'pages:homepage' %}">-->
<!--                                <img src="{% static 'img/logo.png' %}" alt="">-->
<!--                            </a>-->
<!--                        </div>-->
                        <nav class="inner-main-navbar mobile-menu">
                            <ul>
                                <li><a href="{% url 'pages:homepage' %}">Главная</a></li>
                                <li><a href="{% url 'pages:about_us' %}">Фотогалерея</a></li>
                                <li><a href="{% url 'elements:elements' %}">Тренажеры</a></li>
                                <li><a href="{% url 'blog:blog_list' %}">Блог</a></li>
                                <li><a href="{% url 'pages:contact' %}">Расписание и контакты</a></li>
                            </ul>
                        </nav>
                        <div id="mobile-menu-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Slider Section Begin -->
    <section class="hero-slider">
        <div class="slider-items owl-carousel">
            <div class="single-slider-item set-bg" data-setbg="{% static 'img/hero-slider/hero-slider-15.JPG' %}">
                <div class="container" style="margin-top: 15%">
                    <span class="tickler-text" style="color: #9482AC">#bondarevafitnessdoctor</span>
                    <h2 style="color: #9482AC">Изящество и красота не могут быть отделены от здоровья.</h2>
                </div>
            </div>
            <div class="single-slider-item set-bg" data-setbg="{% static 'img/hero-slider/hero-slider-12.JPG' %}">
                <div class="container" style="margin-top: 15%">
                    <span class="tickler-text" style="color: #9482AC">#bondarevafitnessdoctor</span>
                    <h2 style="color: #9482AC">Поддерживайте крепость тела, чтобы сохранить крепость духа.</h2>
                </div>
            </div>
            <div class="single-slider-item set-bg" data-setbg="{% static 'img/hero-slider/hero-slider-14.JPG' %}">
                <div class="container" style="margin-top: 15%">
                    <span class="tickler-text" style="color: #9482AC">#bondarevafitnessdoctor</span>
                    <h2 style="color: #9482AC">Здоровый человек есть самое драгоценное произведение природы.</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Slider Section End -->

    <!-- Yoga Classes Section Begin -->
    <section style="background-color: #787878" class="yoga-classes-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="home-title">
                        <span>#bondarevafitnessdoctor</span>
                        <h4>&#34;Сделайте хотя бы раз то, что, по словам окружающих, вам не по плечу. <br>
                            После этого вы уже никогда не будете обращать внимание на их правила и ограничения.&#34;
                            </br> Джеймс Кук.</h4>
                    </div>
                </div>
            </div>
            <div class="row">
<!--                yoga-->
                <div class="col-md-4">
                    <div class="single-classes">
                        <div class="single-yoga-name">
                        <div class="yoga-pic">
                            <img src="{% static 'img/joga_title.JPG' %}" alt="">
                        </div>
                        <div class="yoga-text">
                            <span>#bondarevafitnessdoctor</span>
                            <h4>Йога (80 минут)</h4>
                        </div>
                        </div>
<!--                        <i class="flaticon-002-yin-yang"></i>-->
<!--                        <h3>Йога</h3>-->
                        <p style="color: #464646">
                            Йоге больше 3000 лет <br>
                            Вы, конечно же, тоже слышали про йогу. <br>
                            Однако наша йога особенная!  <br>
                            Никакой философии! <br>
                            Только гимнастика! <br>
                        </p>
                    </div>
                    <div class="accordin-elem">
                        <div class="accordion" id="accordionExample">
                            <div class="card" style="background-color: #787878">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">
                                        Описание и цены
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p style="color: #464646">
                                            Вы узнаете, какие асаны лечат почки, какие - печень, а какие - позвоночник.
                                            <br>
                                            Ваше тело станет гибким, молодым и здоровым.
                                            <br>
                                            Вы научитесь правильно дышать.
                                            <br>
                                            Сможете применять технику йогов для укрепления иммунитета.
                                            <br>
                                            Обретете душевное спокойствие.
                                            <br>
                                            Повысите либидо и станете желанной для своего партнёра.</p>
                                        <p style="color: black">Стоимость занятий:
                                        <ul>
                                        <li><b>4</b> занятия в месяц: <b>55</b> рублей (14.25 рублей за 1 занятие)</li>
                                        <li><b>8</b> занятий в месяц: <b>100</b> рублей (12.5 рублей за 1 занятие)</li>
                                        <li><b>12</b> занятий в месяц: <b>130</b> рублей (10.8 рублей за 1 занятие)</li>
                                        <li>разовое занятие: <b>17</b> рублей</li>
                                        </ul>
                                        </p>
                                        <p style="color: #464646">
                                            Абонемент не привязан к началу месяца. Его можно покупать с любого числа.
                                        </p>
                                        <p style="color: #464646">
                                            Период посещения абонемента 1 месяц со дня его покупки.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                health body-->
                <div class="col-md-4">
                    <div class="single-classes">
                        <div class="single-yoga-name">
                        <div class="yoga-pic">
                            <img src="{% static 'img/Healthy_body_title.jpg' %}" alt="">
                        </div>
                        <div class="yoga-text">
                            <span>#bondarevafitnessdoctor</span>
                            <h4>Здоровое тело (50 минут)</h4>
                        </div>
                    </div>
<!--                        <i class="flaticon-001-meditation"></i>-->
<!--                        <h3>Здоровое тело</h3>-->
                        <p style="color: #464646">Наблюдайте и заботьтесь о своём теле, если хотите быть воистину
                            счастливым человеком. Сегодня Вы можете иметь здоровый позвоночник и суставы, идеальную фигуру, радость жизни!</p>
                        </div>
                    <div class="accordin-elem">
                        <div class="accordion" id="accordionExample">
                            <div class="card" style="background-color: #787878">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">
                                        Описание и цены
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
<!--                                        <p style="color: #464646">"ЗДОРОВОЕ ТЕЛО" подходит Вам:</p>-->
<!--                                        <ul style="list-style-position: inside; color:#464646; font-size:14px">-->
<!--                                            <li>если у Вас межпозвоночная грыжа и позвоночник разваливается. Приходится колоть обезболивающие уколы и глотать таблетки...</li>-->
<!--                                            <li>если Ваши суставы скрипят, а походка стала тяжёлой и переваливающейся...</li>-->
<!--                                            <li>если Ваше тело стало дряблым, и мышцы утратили тонус...</li>-->
<!--                                            <li>если Вы набрали вес...</li>-->
<!--                                            <li>если Вы забыли о хорошем настроении, и Вас замучила депрессия...</li>-->
<!--                                            <li>если хочется служить примером своим детям, а не только говорить о здоровом образе жизни...</li>-->
<!--                                            <li>если быт напрочь поглотил Вас и, кроме работы и домашних дел, Вы больше ничего не видите...</li>-->
<!--                                            <li>если Вы ищете "лично своё время", в течение которого никто Вас не побеспокоит...</li>-->
<!--                                            <li>если Вы уже давно хотите измениться, но каждый раз что-то идёт не так!</li>-->
<!--                                        </ul>-->
<!--                                        <br>-->
                                        <p style="color: #464646">
                                            Направление собрало в себе упражнения на позвоночник, суставы, живот, бедра, ягодицы, стопы.
                                            Тренировки повышают силу, гибкость, выносливость, равновесие.
                                            Избавляют от лишних килограммов. Нагрузки проходят в спокойном темпе.
                                            Пульс не превышает показатели, допустимые даже для людей с хроническими заболеваниями,
                                            пожилых людей, людей, никогда ранее не занимавшихся фитнесом.
                                            Использование моего авторского оборудования позволяет прорабатывать даже
                                            те глубокие мышцы, которые обычными упражнениями не возьмёшь.
                                        </p>
                                        <p style="color: #464646">Направление подходит и для мужчин.
                                            Ему нет аналогов в Витебске и по всей Беларуси!</p>
                                        <p style="color: black">Стоимость абонемента:
                                        <ul>
                                        <li><b>4</b> занятия в месяц: <b>40</b> рублей (10 рублей за 1 занятие)</li>
                                        <li><b>8</b> занятий в месяц: <b>70</b> рублей (8.75 рублей за 1 занятие)</li>
                                        <li><b>12</b> занятий в месяц: <b>90</b> рублей (7.5 рублей за 1 занятие)</li>
                                        <li>разовое занятие: <b>12</b> рублей</li>
                                        </ul>
                                        </p>
                                        <p style="color: #464646">
                                            Абонемент не привязан к началу месяца. Его можно покупать с любого числа.
                                        </p>
                                        <p style="color: #464646">
                                            Период посещения абонемента 1 месяц со дня его покупки.
                                        </p>
<!--Могу с уверенностью заявить, что решить все эти проблемы Вам точно по силам! -->
<!--Нужно только знать пару простых секретов! -->
<!--Как получить доступ к этим секретам?-->
<!--Просто прийти на "ЗДОРОВОЕ ТЕЛО"!-->
<!--Мой многолетний опыт в фитнесе  (более 20-ти лет), врачебные знания, эксклюзивное оборудование превратят Вас в ту женщину, которой Вы всю жизнь хотели стать, но пока не смогли.-->
<!--Только представьте, как преобразится Ваше тело после месяца тренировок!-->
<!--Все подруги лопнут от зависти, когда увидят Вашу стройную фигуру и лёгкую походку!-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                meditation                -->
                <div class="col-md-4">
                    <div class="single-classes">
                        <div class="single-yoga-name">
                        <div class="yoga-pic">
                            <img src="{% static 'img/meditation_title.jpg' %}" alt="meditation-photo">
                        </div>
                        <div class="yoga-text">
                            <span>#bondarevafitnessdoctor</span>
                            <h4>Медитация (60-80 минут)</h4>
                        </div>
                        </div>
<!--                        <i class="flaticon-002-yin-yang"></i>-->
<!--                        <h3>Йога</h3>-->
                        <p style="color: #464646">
                           Вы регулярно ходите на фитнес, но по-прежнему болят спина и суставы? Не уходят лишние килограммы? Плохое настроение?
                           Раздражение? Страх за будущее? Упадок сил? Тогда это направление точно для Вас!
                        </p>
                    </div>
                    <div class="accordin-elem">
                        <div class="accordion" id="accordionExample">
                            <div class="card" style="background-color: #787878">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">
                                        Описание и цены
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p style="color: #464646">
                                            Детские травмы, переживания в зрелом возрасте, стресс и многое другое могут быть причиной различных недугов.
                                            И фитнес, к сожалению, здесь бессилен.
                                            Нужно идти вглубь себя.  Искать причину в бессознательном. Выстраивать диалог с собственным "Я".
                                            Освоив определённые техники дыхания и медитации, Вы избавитесь от множества хронических диагнозов. Обретёте лёгкость в теле и в душе!</p>
                                        <p style="color: darkred">‼️Направление АБСОЛЮТНО НЕРЕЛИГИОЗНО и базируется на знаниях МЕДИЦИНЫ и ПСИХОЛОГИИ!</p>
                                        <p style="color: darkred">Только для взрослых! 18+</p>
                                        <p style="color: black">Стоимость занятий:
                                        <ul>
                                        <li><b>4</b> занятия в месяц: <b>50</b> рублей (14.25 рублей за 1 занятие)</li>
                                        <li>разовое занятие: <b>15</b> рублей</li>
                                        </ul>
                                        </p>
                                        <p style="color: #464646">
                                            Абонемент не привязан к началу месяца. Его можно покупать с любого числа.
                                        </p>
                                        <p style="color: #464646">
                                            Период посещения абонемента 1 месяц со дня его покупки.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Yoga Classes Section End -->

    <!-- Yoga Name Section Begin -->
    <section class="set-bg spad" data-setbg="{% static 'img/yoga-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="home-title">
                        <span>#bondarevafitnessdoctor</span>
                        <h4>
<!--                            &#34;Я не ожидаю подходящего настроения. Если его ожидать, ничего не достигнешь.&#34; </br>-->
                            Эксклюзивная линейка физкультурно-оздоровительных тренажеров ручной работы из природных
                            экологически чистых материалов "HEALTH-WOOD"
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="yoga-name-section" style="margin-top: -100px">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="single-yoga-name">
                        <div class="yoga-pic">
                            <a href="{% url 'elements:elements' %}">
                            <img src="{% static 'img/ekvilibrium.jpg' %}" alt="ekvilibrium">
                            </a>
                        </div>
                        <div class="yoga-text">
                            <span>#bondarevafitnessdoctor</span>
                            <h4>Эквилибриум</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-yoga-name">
                        <div class="yoga-pic">
                            <a href="{% url 'elements:elements' %}">
                            <img src="{% static 'img/stairs_2.jpg' %}" alt="stairs">
                            </a>
                        </div>
                        <div class="yoga-text">
                            <span>#bondarevafitnessdoctor</span>
                            <h4>Лестница</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-yoga-name">
                        <div class="yoga-pic">
                            <a href="{% url 'elements:elements' %}">
                            <img src="{% static 'img/catepillar.jpg' %}" alt="caterpillar">
                            </a>
                        </div>
                        <div class="yoga-text">
                            <span>#bondarevafitnessdoctor</span>
                            <h4>Гусеница</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-yoga-name">
                        <div class="yoga-pic">
                            <a href="{% url 'elements:elements' %}">
                            <img src="{% static 'img/boomerang_title.jpg' %}" alt="boomerang">
                            </a>
                        </div>
                        <div class="yoga-text">
                            <span>#bondarevafitnessdoctor</span>
                            <h4>Бумеранги здоровья</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Yoga Name Section End -->

    <!-- Client Section Begin -->
    <section  style="background-color: 	#787878" class="client-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="client-left-img">
                        <img src="{% static 'img/client-left.png' %}    " alt="">
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="client-says">
                        <div class="section-title">
                            <span>#bondarevafitnessdoctor</span>
                            <h4>Что говорят клиенты</h4>
                        </div>
                        <div class="client-items owl-carousel">
                            <div class="single-client-item">
                                <p style="color: #464646">Спасибо нашему невероятно позитивному и неугомонному в своих
                                спортивных фантазиях тренеру Надежде Бондаревой! Благодаря Вашей энергетике мы молоды
                                 не по годам, подтянуты и способны свернуть горы и преодолеть многое. Вы даете посыл
                                жить насыщенно и активно, стремиться даже выше своих самых смелых фантазий о себе!</p>
                                <h5>Данилова <span>Елена</span></h5>
                            </div>
                            <div class="single-client-item">
                                <p style="color: #464646">Хожу к Надежде  в зал вот уже 8 лет. Не понимаю, почему раньше не написала о замечательном
                                    инструкторе, профессионале своего дела, корректном и требовательном тренере, всегда внимательном
                                    и понимающем человеке, просто очень прекрасной и красивой девушке Надежде Бондаревой.
                                    Несмотря на свою востребованность и занятость она всегда найдёт время уделить внимание,
                                    дать дельный и квалифицированный совет. Надежда служит примером для подражания,
                                    постоянно стремится к профессиональному росту, много познает и с удовольствием делится
                                    полученными знаниями. Спасибо большое, Наш Любимый Фитнес Доктор!</p>
                                <h5>Квятинская <span>Елена</span></h5>
                            </div>
                            <div class="single-client-item">
                                <p style="color: #464646">Хочу выразить огромную благодарность тренеру Надежде Бондаревой за
                                    ее профессионализм, чуткое и трепетное отношение к каждому клиенту как к родному и близкому
                                    человеку. Она настоящий мастер своего дела! Постоянное совершенствование и образование делает
                                    тренировки разнообразнее и эффективнее. Более 9 лет тренировок положительно сказываются на состоянии моего здоровья.</p>
                                <h5>Брик <span>Виктория</span></h5>
                            </div>
                            <div class="single-client-item">
                                <p style="color: #464646">Наша Надежда - это прекрасный, чуткий человек!! Она помогает нам
                                    стать лучше не только телом но и душой!! Тренировки проходят в приятной, дружелюбной
                                    атмосфере!! Я посещаю ее тренировки уже более 13 лет!! И ни разу!!! у нас не было
                                    одинаковой тренировки!! Вот это профессионализм!!</p>
                                <h5>Барановская <span>Инна</span></h5>
                            </div>
                            <div class="single-client-item">
                                <p style="color: #464646">Я занимаюсь у Надежды больше 2-х лет. До этого в моей жизни спорт отсутствовал,
                                    что сказывалось на самочувствии и фигуре. Начав заниматься у Надежды я поняла: моя спина больше не болит, спорт -
                                    это энергия, за всё это время у меня ни разу не возникло мысли не идти на тренировку, и я сильнее, чем думала.
                                Сейчас я точно могу сказать, что тренировки ( пилатес, иногда растяжка, а также йога) уже прочно вошли в мою жизнь.
                                    Профессионализм, упорство, индивидуальный подход к каждому, постоянный поиск нового в
                                    своем любимом деле - все это отличает Надежду от других тренеров. Мне очень нравится
                                    атмосфера на занятиях: весело, душевно, интересно и по семейному тепло.
                                Самое главное, что после этих занятий чувствуешь себя свежей и отдохнувшей, как будто и не было позади рабочего дня!
                                Если вы хотите сбросить всю суетность дня, отдохнуть душой, взбодрить тело и стать лучшей версией себя, вам однозначно
                                    нужно придти на тренировку к Надежде, гарантирую, что больше вы не захотите с ней расставаться.</p>
                                <h5>Устинова <span>Наталья</span></h5>
                            </div>
                            <div class="single-client-item">
                                <p style="color: #464646">Много лет хожу на тренировки Надежды. Не зря она назвала свои тренировки
                                    "Здоровое тело". Если возникает проблема в теле, стоит попросить Надежду, и она предложит упражнения,
                                    которые справятся с твоей проблемой. Ни одна тренировка не похожа на другую . Атмосфера на тренировках
                                    непринуждённая и дружелюбная. Надежда изобрела новые тренажёры, с которыми мы занимаемся,
                                    а также постоянно придумывает какие-то бонусы, подарки. Идёшь на тренировку, а попадаешь в клуб,
                                    где тебе рады, где тренируешь не только тело, а заряжаешься положительной энергией и поднимаешь настроение.</p>
                                <h5>Павлюченко <span>Людмила</span></h5>
                            </div>
                            <div class="single-client-item">
                                <p style="color: #464646">Очень рада, что в моей жизни появился замечательный фитнес- доктор Надежда Бондарева.
                                    Вернее, Надюша Бондарева. Занятия, которые ведёт Надежда, дарят мне не только хорошее самочувствие и здоровье,
                                    но и прекрасное настроение! Не перестаю удивляться ее фантазии, любви к своим подопечным и бесконечному желанию
                                    к самосовершенствованию. Надюша заражает своей энергетикой, заставляет не сидеть на месте, открывает чакры!
                                    Ты действительно начинаешь верить, что можешь все и даже чуть-чуть больше) Спасибо, Надюша, большое за то, что Вы есть!!!</p>
                                <h5>Малюченко <span>Наталья</span></h5>
                            </div>
                            <div class="single-client-item">
                                <p style="color: #464646">Нашлась минутка.  Мой отзыв: Замечательный инструктор! На каждой тренировке
                                    грамотно подобран комплекс упражнений. Не смотря на наличии 4 деток всегда совершенствуется
                                    и стремится познавать что-то новое.</p>
                                <h5>Павлова <span>Виктория</span></h5>
                            </div>
                            <div class="single-client-item">
                                <p style="color: #464646">Около 15 лет знакома с замечательным инструктором, профессионалом своего дела,
                                    корректным и требовательным тренером, всегда внимательным и понимающем человеком, просто очень прекрасной и
                                    приятной девушкой Надеждой Бондаревой. Пришла к ней на занятия после длительной болезни позвоночника,и
                                    до сих пор занятия у Надежды помогают избежать тяжёлых обострений болезни.Не смотря на свою востребованность
                                    и занятость она всегда найдёт время уделить внимание , дать дельный и квалифицированный совет и просто
                                    поддержать улыбкой или взглядом. Все,чем занимается этот великолепный человек,она делает с огромным желанием
                                    помочь и безмерной любовью к своим клиентам.</p>
                                <h5>Жигленкова <span>Наталья</span></h5>
                            </div>
                            <div class="single-client-item">
                                <p style="color: #464646">Надежда не просто фитнес - тренер,  она всегда внимательна к каждому,
                                    кто приходит к ней заниматься. К почти каждому упражнению идёт медицинское обоснование : что
                                    и для чего работает в нашем теле в данный момент. Это интересно и  познавательно!  Для улучшения
                                    и помощи в выполнении упражнений Надежда разработала ряд тренажёров. Они очень помогают при тренировках.
                                    Благодаря её прекрасному доброму отношению к своим клиентам,  в группах царит добрая,  даже Семейная обстановка.
                                    Туда хочется возвращаться снова и снова! Мой совет -  на тренировки только к Надежде Бондаревой!</p>
                                <h5>Нечай <span>Дарья</span></h5>
                            </div>
                            <div class="single-client-item">
                                <p style="color: #464646">Для меня самое важное на тренировках - это моё психоэмоциональное состояние.
                                    Я с приятным предвкушением иду на тренировку,настраивая себя,что это мне будет полезно и необходимо.
                                    Мне нравится доброжелательная атмосфера на тренировке, со смехом, с шутками и прибаутками.
                                    Особенно люблю,когда звучат стихотворения про действия,которые мы совершаем.после тренировки
                                    я чувствую себя спокойнее и более уравновешенной. И что самое главное, я начинаю любить и понимать
                                    себя больше с каждой тренировкой.</p>
                                <h5>Мандрик <span>Надежда</span></h5>
                            </div>
                            <div class="single-client-item">
                                <p style="color: #464646">Надежда мой первый тренер и единственный. К другим не могу ходить. У нее очень хорошая,
                                    светлая энергетика. Она заряжает позитивом. На нее приятно смотреть.  Это очень важно для меня, а не только
                                    профессионализм. Тренировки Надежды уникальные. Они каждый раз разные и эффективные. Она не стоит на месте,
                                    постоянно развиваясь, особенно в последнее время (или я это только сейчас заметила). Я часто про нее рассказываю всем.
                                    Даже пациентам своим советовала. Плюс то, что она мне советует, всегда актуально и правда. Она может
                                    быть просто что-то рассказывает во время тренировки, а я слушаю и делаю выводы.
                                    В общем, мне повезло, что Надежда есть в моей жизни. Еще я ей доверяю. На медитации без нее я бы не решилась.
                                    А они мне так нужны.</p>
                                <p style="color: #464646">Кстати, у Маши моей ножка выровнялась. Она очень любит Эквилибриум. Это еще одна благодарность.</p>
                                <h5>Сюборова <span>Юлия</span></h5>
                            </div>
                            <div class="single-client-item">
                                <p style="color: #464646">Хочу выразить огромную благодарность Надежде!
                                    Прекрасному тренеру, замечательному человеку, очаровательной и очень душевной  девушке!
                                    Наденька, вы умеете заряжать энергией и давать веру в свои силы. Ваши программы тренировок всегда разнообразны,
                                    насыщенны и эффективны! Вы умеете разбавить наши занятия интересным общением и юмором, так что время пролетает
                                    на одном дыхании! Моя жизнь и я сама меняюсь каждый день благодаря вашим тренировкам и общению с вами!
                                    Спасибо вам большое за ваш профессионализм и за ваше тепло!</p>
                                <h5>Язвинская <span>Ольга</span></h5>
                            </div>
                            <div class="single-client-item">
                                <p style="color: #464646">Меня зовут Светлана, мне 55 лет. На первую тренировку к Бондаревой Надежде попала лет 5 назад.
                                    Теперь с НАДЕЖДОЙ не расстанусь!!! 💖💖💖💖💖 Это тренер больше чем на 100%!!! Я занималась и занимаюсь по направлениям пилатес,
                                    здоровая спина, здоровое тело, медитация. С возрастом ухудшается двигательная подвижность всех суставов и каждый (и
                                    я в том числе) приобретает ряд проблем  со здоровьем, например артриты, или, как у меня, - остроходроз шейного отдела,
                                    небольшое онемение пальцев рук и ног.... и другие. И здесь выход один - регулярные занятия. А занятия у Нади -
                                    настоящее чудо!!! Я чувствую себя прекрасно, подвижность суставов восстановлена и развивается, нет головных болей,
                                    я чувствую и контролирую своё тело! И самое главное - Наденька - удивительной души человек, и на тренировках
                                    создает солнечную и дружескую атмосферу. Приходим за позитивным зарядом, хорошим настроением и советом!!!
                                    Огромное спасибо ВАМ НАШ ФИТНЕСДОКТОР!!! Вы наша НАДЕЖДА!!!</p>
                                <p style="color: #464646">
                                    Ещё можно и нужно добавить.. Наденька - изобретатель, приходите и познакомитесь с волшебными тренажёрами.
                                </p>
                                <h5>Галузо <span>Светлана</span></h5>
                            </div>
                            <div class="single-client-item">
                                <p style="color: #464646">Много лет назад в моей жизни случились 2 встречи, которые оказались большой ЛЮБОВЬЮ на долгие
                                    годы! Во-первых, я познакомилась с Надеждой: слетлым, позитивным и искренним человечком, любящим своё дело💗,
                                    а во-вторых, я окунулась в мир йоги👍. С тех пор прошло 12 лет и теперь я точно знаю, что йога в моей жизни
                                    НАВСЕГДА! Спасибо, Надя!!!🙏💗</p>
                                <h5>Рацкун <span>Екатерина</span></h5>
                            </div>
                            <div class="single-client-item">
                                <p style="color: #464646">А у вас бывает, что от общения с человеком разливается тепло по телу, бегают "мурашки",
                                    а от шквала эмоций иногда подступают слезы? И все это не про  противоположный пол! А после разговора проблема или вопрос
                                    открываются в совсем другом ракурсе? Так вот это происходит со мной при встречах с Надеждой постоянно. Она стала не
                                    только для меня, но и для членов моей семьи (некоторых заочно) олицетворением добра и любви.
                                    Креатив, постоянная работа над собой с целью саморазвития и роста сочетаются в ней со вниманием и заботой ко всем
                                    окружающим.</p>
                                <h5>Лукашенко <span>Елена</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Client Section End -->

<!--    &lt;!&ndash; Call To Action Section Begin &ndash;&gt;-->
<!--    <section class="callto-section set-bg" data-setbg="{% static 'img/callto-bg.jpg' %}">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="callto-text">-->
<!--                        <h2>Бесплатное занятие по субботам</h2>-->
<!--                        <a href="#" class="primary-btn callto-btn">Читать</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; Call To Action End &ndash;&gt;-->



    <!-- Map Section Begin -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDhhX37AVCXLeNIgGYchUyKnU-5BMUolew&q=/улица+Кутузова+2A,+Витебск/" height="590" style="border:0" allowfullscreen></iframe>
    </div>
    <!-- Map Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" data-setbg="{% static 'img/footer-bg.jpg' %}">
        <div class="container">
            <div class="contact-inner">
<!--                <div class="contact-form">-->
<!--                    <div class="section-title">-->
<!--                        <span>#bondarevafitnessdoctor</span>-->
<!--                        <h2>Оставьте заявку (отзыв)</h2>-->
<!--                    </div>-->
<!--                    <form action="#">-->
<!--                        <input type="text" placeholder="Имя">-->
<!--                        <input type="email" placeholder="e-mail">-->
<!--                        <input type="text" placeholder="Тема">-->
<!--                        <textarea placeholder="Сообщение"></textarea>-->
<!--                        <button type="submit" class="submit-btn">Отправить</button>-->
<!--                    </form>-->
<!--                </div>-->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="footer-text">
                            <a href="{% url 'pages:homepage' %}" class="logo"><img src="{% static 'img/footer-logo.png' %}" alt=""></a>
                            <p>Физические упражнения могут заменить множество лекарств, но ни одно лекарство в мире не может заменить физические упражнения.
                            <ul>
                                <li><a href="https://m.facebook.com/bondarevafitnessdoktor-110829744073699/"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.instagram.com/bondarevafitnessdoctor/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
<!--                            {% if user.is_authenticated %}-->
<!--                            <p>Hi {{ user.username }}!</p>-->
<!--                            <p><a href="{% url 'logout' %}">Log out</a></p>-->
<!--                            {% else %}-->
<!--                                <p>You are not logged in.</p>-->
<!--                                <a href="{% url 'login' %}">Log In</a>-->
<!--                            {% endif %}-->
<!--                            <a href="#">Войти</a>-->
                            <div class="copyright text-white">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->


    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/circle-progress.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>