<!DOCTYPE html>
<html lang="zxx">

{% extends 'classes.html' %}

{% load static %}

{% block content %}
<section class="about-us set-bg spad" data-setbg="{% static 'img/yoga-bg.jpg' %}>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto text-center">
                    <h4>Ваш пароль успешно изменен!</h4>
                    <p><a href="{% url 'login' %}">Войти на сайт?</a></p>
                </div>
            </div>
        </div>
</section>
{% endblock %}