<!DOCTYPE html>
<html lang="zxx" xmlns="http://www.w3.org/1999/html">

{% extends 'classes.html' %}

{% load static %}

{% block content %}
<section class="about-us set-bg spad" data-setbg="{% static 'img/yoga-bg.jpg' %}>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto text-center">
                    {% if validlink %}
                            <p>Пожалуйста, введите (и подтвердите) ваш новый пароль.</p>
                            <form action="" method="post">
                            {% csrf_token %}
                                <table>
                                    <tr>
                                        <td>{{ form.new_password1.errors }}
                                            <label for="id_new_password1">Новый пароль:</label></td>
                                        <td>{{ form.new_password1 }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.new_password2.errors }}
                                            <label for="id_new_password2">Подтверждение пароля:</label></td>
                                        <td>{{ form.new_password2 }}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><input type="submit" value="Изменить мой пароль" /></td>
                                    </tr>
                                </table>
                            </form>
                        {% else %}
                            <h1>Ошибка при смене пароля</h1>
                            <p>Ссылка на смену пароля недействительна, возможно, она уже была использована. Пожалуйста, запросите заново смену пароля.</p>
                        {% endif %}
                </div>
            </div>
</div>
</section>

{% endblock %}